@import "./resets";
@import "./variables";
@import "./breakpoints";
@import "./typography";

@import "../../node_modules/bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Playfair+Display:ital,wght@1,500&display=swap");

html,
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: white;
}

main {
  height: 100%;
  background-color: $primary;
  overflow: hidden;

  .container {
    background-color: $primary;
  }
}

.swiper-container {
  height: calc(100vh - 120px);
  margin: 60px;
}

.swiper-slide {
  width: 28vw;
  overflow: hidden;
  background-position: top;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.show-myinfo {

  @include sm() {
    overflow-y: auto;

    .slide.myself {
      margin-bottom: 50px;
      margin-top: 50px;
    }
  }

  @include xxl() {
    .slide.myself {
      margin: 0;
    }
  }

  @media screen and (max-width: 576px) {
    overflow: visible;

    .slide {
      display: none;
    }

    .slide.active, .slide.visited {
      display: flex;
    }

    .slide.myself.active {
      padding-top: 32px;
      padding-bottom: 32px;
      justify-content: unset;
    }
  }
}

::-moz-selection {
  background: darkblue;
}

::selection {
  background: darkblue;
}

@import "./components/slide";
@import "./components/pulsate";
@import "./components/ltr";
@import "./components/cit";