html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="/favicon.ico", type="image/x-icon", rel="icon")
        block seo
        block title
        block styles
        link(href="/css/style.css", rel="stylesheet")
    body
        header
            block header
        main 
            block content
        footer 
            block footer 
        
        block scripts