extends layout/base.pug

block styles 
    link(rel="stylesheet", href="https://unpkg.com/swiper@8/swiper-bundle.min.css")

block title
    title Daniele Castiglia's Portfolio

block scripts
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js", integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2", crossorigin="anonymous")
    script(src="/js/main.js")

block header 
    nav 
        div(class="hero")
            div(class="container whoami")
                div(class="whoami__info")
                    div(class="photo")
                        img(src="/images/photo.png", alt="My face")
                    ul
                        li
                            h4
                                strong Daniele Castiglia
                        li 
                            svg(xmlns="http://www.w3.org/2000/svg", width="16", height="16", fill="currentColor", class="bi bi-telephone-outbound-fill", viewBox="0 0 16 16", style="margin-right: 16px;")
                                path(fill-rule="evenodd", d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM11 .5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-4.146 4.147a.5.5 0 0 1-.708-.708L14.293 1H11.5a.5.5 0 0 1-.5-.5z")
                            | +39 338 3914 342
                        li 
                            svg(xmlns="http://www.w3.org/2000/svg", width="16", height="16", fill="currentColor", class="bi bi-envelope", viewBox="0 0 16 16", style="margin-right: 16px;")
                                path(d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z")
                            | castiglia.daniele@outlook.com
                        li 
                            svg(xmlns="http://www.w3.org/2000/svg", width="16", height="16", fill="currentColor", class="bi bi-envelope", viewBox="0 0 16 16", style="margin-right: 16px;")
                                path(d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z")
                            | 20 years old
                        li 
                            svg(xmlns="http://www.w3.org/2000/svg", width="16", height="16", fill="currentColor", class="bi bi-envelope", viewBox="0 0 16 16", style="margin-right: 16px;")
                                path(fill-rule="evenodd", d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z")
                            | 52048, Monte San Savino
                        li(class="cit")
                            p(class="text") "Keep it simple: as simple as possible, but no simpler."
                            p(class="author") A. E.
                
block content
    // BUTTONS
    section
        div(class="container links d-flex")
            a(target="_blank", href="/files/CV_CastigliaDaniele.pdf" class="btn-link")
                svg(xmlns="http://www.w3.org/2000/svg", width="16", height="16", fill="currentColor", class="bi bi-file-earmark-person-fill", viewBox="0 0 16 16", style="margin-right: 12px;")
                    path(d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm2 5.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-.245S4 12 8 12s5 1.755 5 1.755z")
                | CV
            a(href="#", id="btnOpenModal", class="btn-link", data-bs-toggle="modal", data-bs-target="#modalContactMe")
                svg(xmlns="http://www.w3.org/2000/svg", width="16", height="16", fill="currentColor", class="bi bi-envelope-plus", viewBox="0 0 16 16", style="margin-right: 12px;")
                    path(d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z")
                    path(d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1a.5.5 0 0 0-.5-.5Z")
                | Contact Me
    // DESCRIPTION
    section
        div(class="container whoami mt-0")
            div(class="whoami__description")
                strong Problem Solving 
                | and 
                strong concentration 
                | are my best skills. My goal is to learn and the work environment is the best place where I can 
                strong study
                | . I find it a stimulating place, where I can get involved and try to solve IT problems and more.
    // MY SKILLS
    section
        div(class="container skills")
            h3(class="skills__title section-title") My Skills
            div(class="swiper")
                div(class="swiper-wrapper", style="height: 64px")
                    div(class="swiper-slide")
                        img(src="/images/c.png", alt="C Language Logo")
                    div(class="swiper-slide")
                        img(src="/images/cpp.png", alt="C++ Language Logo")
                    div(class="swiper-slide")
                        img(src="/images/c-sharp.png", alt="C# Language Logo")
                    div(class="swiper-slide")
                        img(src="/images/java.png", alt="Java Language Logo")
                    div(class="swiper-slide")
                        img(src="/images/python.png", alt="Python Language Logo")
                    div(class="swiper-slide")
                        img(src="/images/php.png", alt="PHP Language Logo")
                    div(class="swiper-slide")
                        img(src="/images/mysql.png", alt="MySql Logo")
                    div(class="swiper-slide")
                        img(src="/images/typescript.png", alt="TypeScript Language Logo")
                    div(class="swiper-slide")
                        img(src="/images/js.png", alt="JavaScript Language Logo")
                    div(class="swiper-slide")
                        img(src="/images/html.png", alt="HTML Language Logo")
                    div(class="swiper-slide")
                        img(src="/images/css.png", alt="CSS Language Logo")
                    div(class="swiper-slide")
                        img(src="/images/sass.png", alt="SASS Language Logo")
                    div(class="swiper-slide")
                        img(src="/images/react.png", alt="React Library Logo")
                    div(class="swiper-slide")
                        img(src="/images/docker.png", alt="Docker Logo")
                    div(class="swiper-slide")
                        img(src="/images/debian.png", alt="Debian Logo")
                    div(class="swiper-slide")
                        img(src="/images/ubuntu.png", alt="Ubuntu Logo")
                    div(class="swiper-slide")
                        img(src="/images/github.png", alt="GitHub Logo")
    // MY PROJECTS
    section
        div(class="container projects")
            h3(class="projects__title section-title show-hidden") My Projects
            div(class="hidden-content")
                div(class="project")
                    h3(class="project__title")
                        | That
                        div(style="flex-grow: 1")
                        a(target="_blank", href="https://github.com/J-Dany/Chat")
                            img(src="/images/github.png", alt="Link to That! on Github")
                    p 
                        | An open source chat made up of 3 components: Chat, Chat Client and Chat WS. Every component has its own aim.
                    p 
                        strong Chat 
                        | is the real server, handling messages and client connections.
                    p
                        strong Chat Client 
                        | is the web app that users will use.
                    p
                        strong Chat WS 
                        | is the component responsible for registering users and get the chat history between two users.
    // MY PASSIONS
    section 
        div(class="container passions")
            h3(class="passions__title section-title show-hidden") My Passions
            div(class="hidden-content")
                div(class="passion")
                    h3(class="passion__title") Linux
                    p 
                        | In my free time I like to study to improve the use of the Linux operating system. I have experience in 2 very famous linux distributions: <strong>Debian</strong> and <strong>Ubuntu</strong>. 
                        | In addition, I also have experience with <i>Raspbian</i>. Right now I'm studying to pass the LPI texts. Being a very adopted system in servers, I think it will do much to improve my skills as a system administrator.

    // MODAL CONTACT ME
    div(class="modal fade", id="modalContactMe", tabindex="-1", data-bs-backdrop="static", aria-labelledby="exampleModalLabel", aria-hidden="true")
        div(class="modal-dialog modal-dialog-centered")
            div(class="modal-content")
                div(class="modal-header")
                    h5(class="modal-title") Leave me a message!
                    button(type="button", class="btn-close", data-bs-dismiss="modal", aria-label="Close")
                div(class="modal-body")
                    form(name="formContact", action="", method="GET", enctype="text/plain")
                        input(type="hidden", name="subject", value="Email from Portfolio Website!")
                        div(class="form-group mb-3")
                            label(class="form-label", for="from") From
                            input(class="form-control", placeholder="Who are you?", id="from", name="from")
                        div(class="form-group mb-3")
                            label(class="form-label", for="contact") Contact
                            input(class="form-control", placeholder="Email or telephone number", id="contact", name="contact")
                        div(class="form-group mb-3")
                            label(class="form-label", for="request") Request
                            input(class="form-control", id="request", placeholder="Request title", name="request")
                        div(class="form-group mb-3")
                            label(class="form-label", for="body") Message
                            textarea(class="form-control", id="body", name="body", rows="3", placeholder="Request message")
                    div(class="d-none p-3 bg-success text-white", id="successMessage") Thanks! I will contact you as soon as possible!
                div(class="modal-footer")
                    button(class="btn btn-secondary", data-bs-dismiss="modal") Close
                    button(class="btn btn-primary", id="submitFormContact") Submit
  
block footer 
    div(class="container")
        p Thanks to <a href="https://www.flaticon.com/" target="_blank">Flaticon</a> for providing such beautiful and free icons!